@font-face {
  font-family: "NunitoRegular";
  src: url("../assets/fonts/Nunito/Nunito-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "NunitoLight";
  src: url("../assets/fonts/Nunito/Nunito-Light.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "YantramanavLight";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Light.ttf");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "YantramanavThin";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Thin.ttf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "YantramanavRegular";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none; }

html {
  font-size: 62.5%; }

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto; }
  .wrapper a {
    cursor: pointer; }

/*-----------------------------------------HEADER-------------------------------------*/
.header {
  max-width: 1280px;
  background: url(../assets/img/ComingSoon.jpg);
  background-position: center;
  height: 800px;
  position: relative; }
  .header .logo {
    position: absolute;
    left: 30px;
    top: 30px; }
  .header .header__title {
    text-align: center;
    padding-top: 290px; }
  .header h1 {
    font: 6rem/5rem "NunitoLight";
    color: #fff;
    margin-bottom: 3.5rem; }
  .header h2 {
    font: 2rem/2.7rem "YantramanavLight";
    color: #fff;
    margin-bottom: 6rem;
    text-shadow: 0 0 10px black; }
  .header .dotNav {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    right: 4%;
    top: calc(50% - 50px);
    z-index: 99999; }
    .header .dotNav a {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 1rem;
      border: 1px solid grey; }
      .header .dotNav a:hover {
        width: 12px;
        height: 12px; }

/*----------------------sign up------------------------------*/
.signUp {
  border-radius: 24px 0 0 24px;
  width: 310px;
  height: 4.8rem;
  vertical-align: middle;
  padding: 0 3rem;
  font: 1.8rem/1.8rem "YantramanavLight";
  color: #8c8c8c; }

button {
  width: 165px;
  height: 48px;
  margin-left: -2px;
  vertical-align: middle;
  background-color: #20ab50;
  border-radius: 0 24px 24px 0;
  font: 2rem/1.8rem "NunitoRegular";
  color: #fff;
  cursor: pointer; }
  button:hover {
    background-color: #1a8a41; }

/*--------------------------------------------------MEDIA HEADER--------------------*/
@media screen and (max-width: 414px) {
  .signUp, button {
    border-radius: 24px; }
  .header .header__title {
    padding-top: 120px; }
  .header .dotNav {
    flex-flow: wrap;
    top: 95%;
    right: calc(50% - 65px); }
    .header .dotNav a {
      margin-right: 1rem; } }

/*----------------------------------------------------------END HEADER-----------------------------------------------*/
.about, .review {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

.descript {
  padding-top: 12rem;
  text-align: center;
  width: 50%; }
  .descript h3 {
    font: 3rem/3.8rem "NunitoLight";
    color: #000;
    margin-bottom: 4rem; }
  .descript p {
    font: 1.6rem/2.4rem "YantramanavThin";
    text-align: left;
    padding: 0 11.5rem 4rem 11.5rem; }

.imgBlock img {
  display: block;
  width: 100%; }

.review {
  margin-bottom: 8rem; }
  .review .descript {
    padding-top: 19rem; }
    .review .descript h3 {
      margin-bottom: 13rem; }
    .review .descript p {
      font: 2rem/3rem "YantramanavThin";
      text-align: center;
      padding: 0 16.5rem 10rem 16.5rem; }

/*--------------------------------------------------MEDIA MAIN--------------------*/
@media screen and (max-width: 1024px) {
  .descript {
    width: 90%; }
    .descript p {
      padding: 0 0 4rem 0; }
  .review .descript {
    width: 90%; }
    .review .descript h3 {
      padding-top: 8rem;
      margin-bottom: 6rem; }
    .review .descript p {
      padding: 0 0 10rem 0; } }

/*---------------------------------------------------SLIDER----------------------------------------------*/
.slider {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }
  .slider h4 {
    font: 3rem/3.8rem "NunitoLight"; }
  .slider p {
    font: 1.8rem/4rem "YantramanavThin"; }
  .slider .single-item .item img {
    display: block;
    margin: 0 auto;
    vertical-align: middle; }
  .slider .single-item .item p {
    font: 2.4rem/3.8rem "NunitoLight"; }
  .slider .single-item .slick-prev {
    position: absolute;
    text-indent: -99999px;
    background: url(../assets/img/left.png);
    width: 38px;
    height: 38px;
    z-index: 99;
    cursor: pointer;
    top: 50%;
    right: 80%; }
  .slider .single-item .slick-next {
    position: absolute;
    text-indent: -99999px;
    background: url(../assets/img/right.png);
    width: 38px;
    height: 38px;
    z-index: 99;
    cursor: pointer;
    top: 50%;
    left: 80%; }

/*---------------------------------MEDIA Slider----------------------------*/
@media screen and (max-width: 768px) {
  .slider .single-item .item img {
    width: 100%; }
  .slider .single-item .slick-prev {
    top: 85%;
    right: 80%; }
  .slider .single-item .slick-next {
    top: 85%;
    left: 80%; } }

/*-----------------------------------------------------WHY----------------------------*/
.why {
  max-width: 1280px;
  margin: 0 auto; }

.whyContent h5, .find h5, .like h5 {
  text-align: center;
  font: 3rem/3.8rem "NunitoLight"; }

.whyContent p, .find p, .like p {
  text-align: center;
  font: 1.8rem/4rem "YantramanavThin"; }

.whyContent {
  width: 100%;
  height: 768px;
  text-align: center;
  background: url(../assets/img/whyDots.png) center 180px no-repeat, url(../assets/img/whyBg.jpg) center no-repeat;
  padding-top: 8rem; }
  .whyContent h5 {
    margin-bottom: 2.5rem; }
  .whyContent .whyContent__descript {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    text-align: left;
    padding: 0 6rem 0 6rem;
    transform: translateY(-40px); }
    .whyContent .whyContent__descript .leftBlock .textBlock, .whyContent .whyContent__descript .rightBlock .textBlock {
      padding: 1rem;
      width: 230px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 1rem; }
    .whyContent .whyContent__descript .leftBlock p, .whyContent .whyContent__descript .rightBlock p {
      font: 1.5rem/2.2rem "YantramanavThin"; }
    .whyContent .whyContent__descript .leftBlock .title, .whyContent .whyContent__descript .rightBlock .title {
      font: 1.6rem/2.4rem "YantramanavRegular"; }

@media screen and (max-width: 768px) {
  .whyContent {
    height: 100%; }
    .whyContent .whyContent__descript .leftBlock, .whyContent .whyContent__descript .rightBlock {
      z-index: 99999; }
      .whyContent .whyContent__descript .leftBlock .textBlock, .whyContent .whyContent__descript .rightBlock .textBlock {
        width: 100%; } }

.find {
  padding-top: 9rem;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto; }
  .find p:nth-of-type(1) {
    margin-bottom: 10rem; }
  .find .findBlocks {
    text-align: left;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 10rem 0 10rem; }
    .find .findBlocks .textBlock {
      margin: 0 8rem 8rem 0; }
      .find .findBlocks .textBlock p {
        font: 1.5rem/2.2rem "YantramanavThin";
        margin-bottom: 0; }
      .find .findBlocks .textBlock p:nth-of-type(2) {
        margin-bottom: 1rem; }
      .find .findBlocks .textBlock p:nth-of-type(3) {
        color: darkgreen; }
      .find .findBlocks .textBlock .title {
        font: 1.6rem/2.4rem "YantramanavRegular"; }

.like {
  margin-bottom: 8rem; }
  .like p {
    margin-bottom: 5rem; }
  .like .contact {
    display: flex;
    justify-content: center; }
    .like .contact p:first-child {
      color: darkgreen;
      margin-bottom: 0; }
    .like .contact p {
      padding: 0 5rem;
      margin-bottom: 0; }

/*------------------------------------------------FOOTER-------------------------------*/
.footer {
  max-width: 1280px;
  margin: 0 auto; }

.footerWrap {
  width: 100%;
  padding: 13rem 0;
  text-align: center;
  background-color: #f3f3f3; }
  .footerWrap .footerTitle {
    font: 3rem/3.8rem "NunitoLight"; }
  .footerWrap p {
    font: 2.2rem/3.8rem "YantramanavLight";
    margin-bottom: 5rem; }

.allRight {
  width: 100%;
  background-color: #dcdcdc;
  padding: 1.6rem 0 1.6rem 3rem; }
  .allRight p {
    font: 1.4rem/2rem "YantramanavRegular";
    color: #fff; }
