@font-face {
  font-family: "NunitoRegular";
  src: url("../assets/fonts/Nunito/Nunito-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "NunitoLight";
  src: url("../assets/fonts/Nunito/Nunito-Light.ttf");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "YantramanavLight";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Light.ttf");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "YantramanavThin";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Thin.ttf");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "YantramanavRegular";
  src: url("../assets/fonts/Yantramanav/Yantramanav-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none; }

html {
  font-size: 62.5%; }

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto; }

.header {
  max-width: 1280px;
  background: url(../assets/img/ComingSoon.jpg);
  background-position: center;
  height: 800px;
  position: relative; }
  .header .logo {
    position: absolute;
    left: 30px;
    top: 30px; }
  .header .header__title {
    text-align: center;
    padding-top: 290px; }
  .header h1 {
    font: 6rem/5rem "NunitoLight";
    color: #fff;
    margin-bottom: 3.5rem; }
  .header h2 {
    font: 2rem/2.7rem "YantramanavLight";
    color: #fff;
    margin-bottom: 6rem;
    text-shadow: 0 0 10px black; }
  .header .signUp {
    border-radius: 24px 0 0 24px;
    width: 310px;
    height: 4.8rem;
    vertical-align: middle;
    padding: 0 3rem;
    font: 1.8rem/1.8rem "YantramanavLight";
    color: #8c8c8c; }
  .header button {
    width: 165px;
    height: 48px;
    margin-left: -2px;
    vertical-align: middle;
    background-color: #20ab50;
    border-radius: 0 24px 24px 0;
    font: 2rem/1.8rem "NunitoRegular";
    color: #fff; }
  .header .dotNav {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: absolute;
    right: 2%;
    top: calc(50% - 50px); }
    .header .dotNav a {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 1rem; }
      .header .dotNav a:hover {
        width: 12px;
        height: 12px; }

@media screen and (max-width: 414px) {
  .header .header__title {
    padding-top: 120px; }
  .header .signUp, .header button {
    border-radius: 24px; }
  .header .dotNav {
    flex-flow: wrap;
    top: 500px;
    right: calc(50% - 65px); }
    .header .dotNav a {
      margin-right: 1rem; } }
