doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
		.wrapper
			header.header
				.logo
					a(href="#")
						+ image("logo.png", "logo")
				.header__title
					h1 Coming Soon
					h2 goplae.co.uk is coming soon but in the meantime check out this page
						br 
						| and sign up to our newsletter for more information
					input.signUp(placeholder="Enter email address")
					a(href="#")
						button Sign Up
				.dotNav 
					a(href="#") 
					a(href="#") 
					a(href="#") 
					a(href="#") 
					a(href="#") 
					a(href="#") 
			main.main
				.about
					.descript
						h3 About Plae
						p Previously a Designer for Puma and Adidas, Head Designer Ryan Ringholz has started a new revolution in kids trainers. Using technology usually reserved for elite athletes, Plae creates shoes designed especially for a child’s foot. 
						p Because kids feet are always growing, their shoes should accommodate leaving the cartilage and fledgling bone room to grow its own way. The interchangeable tabs adjust to accommodate thinner, wider or thicker feet and nearly all Plae shoes can fit an AFO orthotic brace.
						p With their dynamic traction, little feet can feel the ground beneath them and get a grip on it. The rest is designed to elite athlete standards: super shock absorption, durable toe guards, and wicking, washable anti-microbial inserts.
						p With every shoe, Plae sources responsible, recycled, and non-toxic materials, and makes sure manufacturing.
					.imgBlock
						+ image("img1.jpg", "img1")
				.review
					.imgBlock
						+ image("img2.jpg", "img2")
					.descript
						h3 What our customers say
						p like them because they are very comfy and soft inside. They are really light which means I run faster. I like the cool straps that I can change.
						p Charlie (age 8)
					.descript
						p I like that I can do PE in them because they're so comfy and then after school in the park, the bottoms are grippy so I can climb really well
						p Edie (age 6)
					.imgBlock
						+ image("img3.jpg", "img3")
				.slider
					h4 The Range
					p View the styles available now from select stockists
					.single-item
						.item
							+ image("slide1.jpg", "slide1")
							p TY
						.item
							+ image("slide2.jpg", "slide2")
							p MAX
						.item
							+ image("slide3.jpg", "slide3")
							p EMME
						.item
							+ image("slide4.jpg", "slide4")
							p CAMILLE
						.item
							+ image("slide5.jpg", "slide5")
							p NOEL
						.item
							+ image("slide6.jpg", "slide6")
							p ROAN
						.item
							+ image("slide7.jpg", "slide7")
							p NAT
				.why
					.whyContent
						h5 Why Plae? 
						p Some of the features that make Plae shoes so good for kids
						.whyContent__descript
							.leftBlock
								.textBlock
									p.title Pull Tab
									p makes it easy for little hands and fingers to get their shoes on.
								.textBlock
									p.title Shock Absorption
									p removable ECO-ORTHOLITE® anti-microbial, anti-bacterial insole, made from castor beans, provides superior protection with renewable resources.
								.textBlock
									p.title Custom Fit & Style
									p interchangeable tabs come in S,M,L,XL sizes to accommodate instep widths and allows kids to make it their own with different color, material and print options. Plae shoes also have the ability to fit AFO 
								.textBlock
									p.title Eco-Friendly
									p made in a solar powered, fair labour factory using recycled milk jugs (PET), ISO certified leathers, and water-based 
							.rightBlock
								.textBlock
									p.title Machine Washable*
									p for when kids get dirty.
								.textBlock
									p.title Anatomical Form
									p specially engineered sole follows the natural contour of a child’s foot - which is mostly 
								.textBlock
									p.title Flexible Sole
									p promotes natural movement by allowing for a free range of movement.
								.textBlock
									p.title Passive Traction
									p promotes natural movement by providing grip on loose earth without compromising contact on hard surfaces.
								.textBlock
									p.title Toe Guard
									p protects both the foot and shoe from toe drag.
				.find
					h5 Where can you find us?
					p See below our UK stockist list
					.findBlocks
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						.textBlock
							p.title Best Foot Forward
							p 76 Liverpool Road
								br
								| Preston
								br
								| PR1 0QD
								br
								| 0208 969 7565
							p bestfootforward.co.uk
						
			footer.footer

						//+ image("img16.png", "image16")
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/user.js")
