doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
		.wrapper
			header.header#headerPlae
				.logo
					a(href="#")
						+ image("logo.png", "logo")
				.header__title
					h1 Coming Soon
					h2 goplae.co.uk is coming soon but in the meantime check out this page
						br 
						| and sign up to our newsletter for more information
					input.signUp(placeholder="Enter email address")
					a(href="#")
						button Sign Up
				.dotNav 
					a(href="#headerPlae") 
					a(href="#aboutPlae") 
					a(href="#reviewsPlae") 
					a(href="#whyPlae") 
					a(href="#findPlae") 
					a(href="#likePlae")
					
			include includes/main.pug
			
			footer
				.footerWrap
					.footerTitle Be the first to see goplae.co.uk
					p Be the first to see goplae.co.uk
					input.signUp(placeholder="Enter email address")
					a(href="#")
						button Sign Up
				.allRight
					p Copyright © 2015 Craftymothers ltd. All Rights Reserved
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/main.js")
